<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSH</title>
    <link href="../static/css/main.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div id="app" x-data="connectionManager" class="app">
        <div class="container" x-ref="container">
            <section class="panel">
                <header class="panel__header">
                    <i class="fa fa-cogs"></i> Configure SSH Connection
                </header>
                <div class="panel__body">
                    <div class="status">
                        <div id="status" class="status__text--error"></div>
                    </div>
                    <form id="initialize" @submit.prevent="initialize">
                        <div class="form__row">
                            <div class="form__field">
                                <label for="Hostname" class="form__label">Hostname</label>
                                <input id="Hostname"
                                    class="input"
                                    type="text"
                                    name="hostname"
                                    x-model="connection.hostname">
                            </div>
                            <div class="form__field">
                                <label for="Port" class="form__label">Port</label>
                                <input
                                        id="Port"
                                        class="input"
                                        type="text"
                                        name="port"
                                        x-model="connection.port">
                            </div>
                        </div>
                        <div class="form__row">
                            <div class="form__field">
                                <label for="Username" class="form__label">Username</label>
                                <input
                                        id="Username"
                                        class="input"
                                        type="text"
                                        name="username"
                                        x-model="connection.username">
                            </div>
                            <div class="form__field">
                                <label for="Private_Key" class="form__label">Private Key</label>
                                <input id="Private_Key"
                                    class="input"
                                    type="file"
                                    name="privatekey"
                                    x-model="connection.privateKey">
                            </div>
                        </div>
                        <div class="form__row">
                            <div class="form__field">
                                <label for="Password" class="form__label">Password</label>
                                <input id="Password"
                                    class="input"
                                    type="password"
                                    name="password"
                                    placeholder=""
                                    x-model="connection.password">
                            </div>
                            <div class="form__field"></div>
                        </div>
                        <div class="form__row form__row--actions">
                            <div>
                                <button type="submit" class="button button--primary">Connect
                                    <i x-show="state.loading" class="fa fa-spinner fa-spin"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>

        <div class="terminal-wrapper is-hidden">
            <div id="terminal" x-ref="terminal"></div>
        </div>
    </div>
    <script src="../static/js/main.min.js"></script>
</body>
</html>
