<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSH</title>
    <link href="../static/css/main.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body class="d-flex flex-column h-100">
    <div id="app" x-data="connectionManager" class="w-100 h-100">
        <div class="container" x-ref="container">
            <section class="bg-white p-4 my-4 shadow border-radius-5">
                <div class="card border-0">
                    <div class="card-header bg-white text-muted">
                        <i class="fa fa-cogs mr-2"></i> Configure SSH Connection
                    </div>
                    <div class="card-body">
                        <div class="message py-3">
                            <div id="status" class="text-danger"></div>
                        </div>
                        <form id="initialize" @submit.prevent="initialize">
                            <div class="form-group row">
                                <div class="col-6">
                                    <label for="Hostname" class="form-label">Hostname</label>
                                    <input id="Hostname"
                                        class="form-control"
                                        type="text"
                                        name="hostname"
                                        x-model="connection.hostname">
                                </div>
                                <div class="col-6">
                                    <label for="Port" class="form-label">Port</label>
                                    <input
                                            id="Port"
                                            class="form-control"
                                            type="text"
                                            name="port"
                                            x-model="connection.port">
                                </div>
                            </div>
                            <div class="form-group row mt-3">
                                <div class="col-6">
                                    <label for="Username" class="form-label">Username</label>
                                    <input
                                            id="Username"
                                            class="form-control"
                                            type="text"
                                            name="username"
                                            x-model="connection.username">
                                </div>
                                <div class="col-6">
                                    <label for="Private_Key" class="form-label">Private Key</label>
                                    <input id="Private_Key"
                                        class="form-control"
                                        type="file"
                                        name="privatekey"
                                        x-model="connection.privateKey">
                                </div>
                            </div>
                            <div class="form-group row mt-3">
                                <div class="col-6">
                                    <label for="Password" class="form-label">Password</label>
                                    <input id="Password"
                                        class="form-control"
                                        type="password"
                                        name="password"
                                        placeholder=""
                                        x-model="connection.password">
                                </div>
                            </div>
                            <div class="form-group row mt-4">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success text-white">Connect
                                        <i x-show="state.loading" class="fa fa-spinner fa-spin ml-2"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>

        <div class="terminal-wrapper container-fluid p-3 d-none">
            <div id="terminal" x-ref="terminal" class="flex-grow-1"></div>
        </div>
    </div>
    <script src="../static/js/main.min.js"></script>
</body>
</html>